
#banner{
    font-family: $font-base;   
    grid-area: banner;
    grid-column: 1 /-1 ;

    height: 87vh;
    background: url(../img/banner/Banner.jpeg) round;


    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;

    div{
        justify-self: center;

        max-width: 500px;
        padding: 5%;

        color:  $banner-font-cor;
        text-align: center;

        border-radius: 5px;
        background-color: $banner-div-background;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.735);

        h3{
            margin-top: 5%;
            font-size: $banner-h3-size;
        }
        button{
            @include botoes($banner-button-background,$banner-button-background-hover,$banner-button-font-color, $banner-button-margin-botton);
        }
    }
}