#especialidade{

    background-color: black;
    font-family: $font-base-texto;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr  minmax(450px,76vh) minmax(450px,76vh) minmax(450px,76vh);
    grid-template-areas:
        "titulo titulo"
        "secao2 secao1"
        "secao3 secao4"
        "secao5 secao5"
    ;
    justify-content: center;
    justify-items: center;
    align-items: center;

    padding-top: 3%;
    .titulo{
        font-family: $font-base;
        color: white;
        grid-area: titulo;

    }

    .secao1{
        @include texto-sobre(1, 1);
    }
    .secao2{
        grid-area: secao2;
        img{
            width: 90%;
        }
    }
    .secao3{
        @include texto-sobre(2, 2);
    }
    .secao4{
        grid-area: secao4;
        height: 87vh;

        img{
            margin-top: 20%;
            height: 60vh;
        }
    }
    .secao5{
        grid-area: secao5;
        text-align: center;
        div{
            width: 100%;
            margin: 0 auto;
            div.lazy-img{
            
                img{
                    width: 70%;
                }
                button{
                    @include botoes(red,tomato, white,0px);
                }
            }
        }
    }
}