#sobre{
    font-family: $font-base-texto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "titulo figurinha"
        "texto figurinha"
    ;
    justify-content: center;
    justify-items: center;
    align-items: center;

    .sobre-figurinha{
        grid-area: figurinha;

        div.lazy-img{
            img{
                max-height: 85vh;
            }
        }
    }
    .sobre-texto{
        grid-area: texto;
        text-align: center;
        padding: 0% 10%;

        align-self: start;
        button{
            
            @include botoes($banner-button-background,$banner-button-background-hover,$banner-button-font-color, $sobre-button-margin-botton);

        }
        span{
            color: red;
            font-size: 1.2em;
        }
    }
    .titulo{
        grid-area: titulo;
        font-family: $font-base;
        align-self: end;
        padding-bottom : 5%;
    };
    
  
};
