#sobre{
    font-family: $font-base-texto;
    height: 87vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "texto figurinha"
    ;
    justify-content: center;
    justify-items: center;
    align-items: center;
    .sobre-figurinha{
        grid-area: figurinha;
        div.lazy-img{
            img{
                max-height: 85vh;
            }
        }
    }
    .sobre-texto{
        grid-area: texto;
        text-align: center;
        padding-left: 10%;
        button{
            
            @include botoes($banner-button-background,$banner-button-background-hover,$banner-button-font-color, $sobre-button-margin-botton);

        }
        span{
            color: red;
            font-size: 1.2em;
        }
    }
  
};



.lazy-img img{
    opacity: 0;

}

.lazy-img img.loaded{
    opacity: 1;
    transition: opacity 2s;
}