.footer{
    grid-area: footer;
    background: $footer-background;

    display: grid;
    grid-template-areas: 
        "mapa"
        "descricao"
        "copyright"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(2fr,10vh) 500px 1fr;

    font-family: $font-base;
    color: white;

    padding-top: 1%;

    gap: 10px;
    div.mapa{
        width: 80%;
        grid-area: mapa;
        margin: 0 auto;

        text-align: center;
        h3{
            font-size: 1.3em;
        }
        p{
            font-family: $font-base-texto;
            font-size: 0.9em;
            margin-bottom: 10px;
        }

        iframe{
            width: 83%;
            border: 0;
            border-radius: 10px;
        }
    }
    .descricao{
        grid-area: descricao;
        width: 80%;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "logo contato social"
        ;
        justify-items: center;
        align-items: center;
        div.logo{
            grid-area: logo;
            a{
                div{
                    img{
                        height: 10vh;
                    }
                }
            }
        }
        div.contato{
            grid-area: contato;
            font-family: $font-base-texto;
            text-align: center;
            font-size: 0.9em;
            text-decoration: none;
            p+p{
                margin-top: 5px;
            }
            a{
                color: white;
                transition: .1s;
                &:hover{
                    color:  black;
                    font-weight: bold;
                }
            }
        }
        div.social{
            grid-area: social;
            
            display: flex;
            a{
                img{
                    width: 25px;
                    padding: 5px;
                }
                &:hover{
                    cursor: pointer;
                }
            }
            a+a{
                margin-left: 10px;
            }

        }

    }
    div.copyright{
        grid-area: copyright;
        font-family: $font-base-texto;

        padding-bottom: 10px;
        font-size: 0.8em;
        text-align: center;
        :last-child{
            margin-top: 5px;
            font-size: 0.7em;
            a{
                font-size: 1.2em;
                color: white;
                &:hover{
                    color: magenta;
                }
            }
        }
    }
}
