/* configurando todo o sistema de grid do site */
.estrutura{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
        "header header header"
        "banner banner banner"
        "sidnev content anuncios"
        "footer footer footer"
    ;
}

/* Inicio das configuracoes da footer */

.footer{
    grid-area: footer;
    background: $footer-background;
    p{
        font-size: $footer-font-size;
        color: $footer-font-cor;
        text-align: center;
        padding: 30px;
    }
}
/* fim das configuracoes da footer */
