/* configurando todo o sistema de grid do site */
.estrutura{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header "
        "content"
        "footer"
    ;
}

/* Inicio das configuracoes da footer */

.footer{
    grid-area: footer;
    background: $footer-background;
    p{
        font-size: $footer-font-size;
        color: $footer-font-cor;
        text-align: center;
        padding: 30px;
    }
    &:hover{
        background-color: transparent !important;
        transition: opacity 5s !important;
    }
}
/* fim das configuracoes da footer */
