*{
    padding: 0;
    margin: 0;
}
/* tirando a bolinha dos itens de lista */
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    border-radius: 10px;
}
li{
    list-style: none;
}
.lazy-img img{
    opacity: 0;
}
.lazy-img img.loaded{
    opacity: 1;
    transition: opacity 2s;
    margin: 0 auto;
}
#whats{
    position: fixed;
    height: 65px;
    bottom: 25px;
    right: 25px;
    z-index: 999;
    padding: 10px
}
// deve ser bassado a cod do background promeiro depois o hover, e por ultimo a cor da font