*{
    padding: 0;
    margin: 0;
}
/* tirando a bolinha dos itens de lista */
li{
    list-style: none;
}
a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

// deve ser bassado a cod do background promeiro depois o hover, e por ultimo a cor da font
@mixin botoes($background, $background-hover, $font-color) {
    color: $font-color;

    padding: 20px;

    margin-top: 5%;

    width: 100%;
    height: 10% ;
    max-width: 250px;


    font-size: 1.3em;

    background: $background;
    border-radius: 5px;
    border: none;

    &:hover{
        background: $background-hover;
        color: $font-color;
    }
    &:focus{
        outline: none;            
    };
};