@media (max-width: 825px){
    .header{

        nav{
            justify-self: end;
            margin-right: 15px;
            li:nth-child(1), li:nth-child(2),li:nth-child(3),li:nth-child(4){
                display: none;
            }
            li:last-child{
                display: block;
                transition: all 1s linear;
            }
            a{
                background-color: black;
                &:hover{
                    background-color: black;
                }
            }
        }
    }

};


@media (max-width: 700px){
    #sobre{
        grid-template-rows: 80px 1fr 250px;
        grid-template-areas:
        "titulo titulo"
        "figurinha figurinha"
        "texto texto"

        ;
        font-size: 0.9em;
        gap: 0px;
        .sobre-figurinha{
            div.lazy-img{
                img{
                    max-height: 90%;
                    max-height: 350px;
                }
            }
        }
        .sobre-texto{
            padding: 0% 5%;
           font-size: 1em;
            h2{
                font-family: $font-base;
                margin-bottom: 2%;
            }

        }
    }
    #especialidade{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "titulo titulo"
        "secao1 secao1"
        "secao2 secao2"
        "secao3 secao3"
        "secao4 secao4"
        "secao5 secao5"
    ;
        gap: 5px;
        .secao1{
            padding: 0px;

            h2{
                padding: 3%;
                margin: 1.5%;
            }
            div{
                margin-bottom: 2%;
                ul li{
                    font-size: 0.9em;
                }

            }
        }
        .secao2{
            max-width: 80%;
            min-width: 300px;
        }
        .secao3{
            padding: 0px;

            h2{
                padding: 3%;
                margin: 1.5%;
            }
            div{
                margin-bottom: 2%;
                ul li{
                    font-size: 0.9em;
                }

            }
        }
        .secao4{
            height: 100%;
            img{
                margin-top: 0px;
                margin-bottom: 50px;
            }
        }
        .secao5{
            div{
                width: 100%;
                min-width: 300px;

                min-width: none;
                margin: 0 auto;
                div.lazy-img{
                
                    img{
                        width: 70%;
                    }
                    button{
                        @include botoes(red,tomato, white,0px);
                    }
                }
            }
        }
    }

    .footer{

        .descricao{
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "logo social social"
            "contato contato contato";

            div.contato{
                font-size: 0.6em;
            }
        }

    }

}
@media (max-width: 500px){
    #banner{
        background: url(../img/banner/hambuzinho.jpg) round;
    }
}

