@media (max-width: 825px){
    .header{

        nav{
            justify-self: end;
            margin-right: 15px;
            li:nth-child(1), li:nth-child(2),li:nth-child(3),li:nth-child(4){
                display: none;
            }
            li:last-child{
                display: block;
                transition: all 1s linear;
            }
            a{
                background-color: black;
                &:hover{
                    background-color: black;
                }
            }
        }
    }

};


@media (max-width: 700px){
 


    #especialidade{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "titulo"
        "secao1 secao1"
        "secao2 secao2"
        "secao3 secao4"
        "secao5 secao5"
    ;
    gap: 0px;
        .secao2{
            video{
                max-height: 450px;
            }
        }
    }
    .footer{

        .descricao{
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "logo social social"
            "contato contato contato";

            div.contato{
                font-size: 0.6em;
            }
        }

    }

}
@media (max-width: 500px){

    #banner{
        background: url(../img/banner/hambuzinho.jpg) round;
    }
}

