@media (max-width: 1200px){
    /* mudando o layout do conteudo para ficar responsivo */
/*     .estrutura{
        grid-template-areas: 
            "header header header"
            "content content content"
            "footer footer footer"
        ;
    }; */
};
@media (max-width: 760px){
    /* mudando o layout do conteudo para ficar responsivo */
   /*  .estrutura{
        grid-template-areas:
            "header header header"
            "content content content"
            "footer footer footer"
            ;
    } */
    /* mudando o layout do Header para ficar responsivo */
/*     .header{
        grid-template-columns: 3fr 1fr;
        align-items: center;
        nav{
            a{
                font-size: 1.2em;
            }
            li:nth-child(1){
                display: none;
            }
            li:nth-child(2){
                display: none;
            }
            li:nth-child(3){
                display: none;
            }
            li:nth-child(4){
                display: block;
                transition: all 1s linear;
            }
            
        }
    }; */

};
@media (max-width: 600px){
 /*    .content{
        grid-template-columns: auto;
        justify-items: center;
        img{
            width: 100%;
        }
    }
    .header{
        grid-template-columns: 2fr 1fr;
        justify-items: center;
        gap: 0px;
        img{
            width: 250px;
        }
        nav{
            li:nth-child(1){
                display: none;
            }
            li:nth-child(2){
                display: none;
            }
            li:nth-child(3){
                display: none;
            }
        }

    } */

}