$cor: #ddda43;
$cor_botao: rgb(223, 216, 13);
$tamanho_da_font: 2em;



/* Variaveis referente ao HEADER and FOOTER */
$header-background: #f5f5f5;
$header-tamanho-menu: 12vh;
$header-tamanho-padding:  5px;
$header-tamanho-logo: 24vh;
$header-font-size: 1.125em;

$header-nav-cor-font: rgb(24, 20, 20);
$header-nav-cor-fundo: none;
$header-nav-cor-fundo-hover: rgb(255, 255, 140);
$header-nav-cor-font-hover: red;

$footer-background: linear-gradient(135deg, #E6FFFB, #f5f5f5);
$footer-font-cor: #000;
$footer-font-size: 1.125em;
/* Variaveis refetrente ao fundo das navs */

$cor-fundo-laterais: #e4d5fa25;

/* formatacao content */
$content-font-size: 1.2em;
$content-font-height: 1.6;
$content-font-cor: rgba(0, 0, 0, 0.7);

$content-font-titulo-cor: #B07DFB;
$content-font-titulo-size: 3.75em ; 
$content-font-subtitulo-size: 0.875em;

$content-destaques-size: 0.875em;
$content-destaques-color: #B07DFB ;