
/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.9s linear infinite;
}


/*configuracoes do menu */
.header{
    grid-area: header;

    position: sticky; 
    top:0;

    font-family: 'Merienda', cursive !important;

    z-index: 9999;

    /* craiando um gradiente no menu */
    background: $header-background;
    padding: $header-tamanho-padding;
    height: $header-tamanho-menu;
    /* criando o Grid interno do menu */
    display: grid;
    /* definindo a quantidade de colunas do meu menu e tamanho */
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logo menu"; 
    justify-items: center;
    align-items: center;
    /*  fim do Grid interno do menu */

    li{
        list-style: none;
    }

    .logo{
        grid-area: logo;
        max-width: $header-tamanho-logo;
        font-weight: 400;
    }
    nav{
        grid-area: menu;
        ul{
            display: flex;
            flex-wrap: wrap;
        }
        a{
            display: block;
            padding: 10px;
            color: $header-nav-cor-font;
            font-size: $header-font-size;
            background: $header-nav-cor-fundo;
            border-radius: 5px;
            transition: 0.1s;
            &:hover{
                background: $header-nav-cor-fundo-hover;
                color: $header-nav-cor-font-hover;
            }
        }
        /* so ira adicionar a margin quando tiver um li apos o outro */
        li + li{
            margin-left: 30px;
        }
        li:last-child{
            display: none;
            transition: all 1s linear;
        }

    }
}
/* configurando o menu de mobile */
.side-menu-wrapper { /* style menu wrapper */
    display: none;

    position: fixed; /* Fixed position */
    top: 0;
	right: 0; /* Sidebar initial position. "right" for right positioned menu */

	padding: 40px 40px 0 40px;
	width: 250px;
	height: 100%;


	background: rgba(50, 50, 50, 0.981);
	transition: 0.5s; /* CSS transition speed */

	box-sizing: border-box;

    z-index: 999;
    
    & > ul{ /* css ul list style */
        padding:0;
        margin:0;
        overflow-y: auto; /* enable scroll for menu items */
        height:95%;
        & > li{
            & > a{/* links */
                display: block;
                border-bottom: 1px solid white;
                padding: 6px 4px 6px 4px;
                color: white; // cor da letra do menu
                transition: 0.3s;
                text-decoration: none;
            }
        }
    }
    & > a.menu-close { /* close button */
        padding: 8px 0 4px 23px;
        color: black;
        display: block;
        margin: -30px 0 -10px -20px;
        font-size: 35px;
        text-decoration: none;
    }
}
.menu-overlay { /* overlay */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}

.hamburger{
    width: 25px;
    height: 25px;
    position: relative;
    transition: all .3s linear;

    &::after{
        content: "";
        width: 70%;
        height: 3px;
        background-color: aliceblue;
        border-radius: 20px;
        
        position: absolute;
        top: 25%;
        left:15%;
        transition: all .3s linear;

    }
    &::before{
        content: "";
        width: 70%;
        height: 3px;
        border-radius: 20px;
        
        position: absolute;
        top: 65%;
        left:15%;
        background-color: aliceblue;
        transition: all .3s linear;
    }

}

#hamburger:checked ~ label .hamburger::after, #hamburger1:checked ~ label .hamburger::after{
    transform: rotate(45deg);
    top: 45%;
}
#hamburger:checked ~ label .hamburger::before, #hamburger1:checked ~ label .hamburger::before{
    transform: rotate(-45deg);
    top: 45%;
}
#hamburger:checked ~ label .hamburger, #hamburger1:checked ~ label .hamburger{
    top: 45%;
}