@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
/* Variaveis referente ao HEADER and FOOTER */
/* formatacao content */
* {
  padding: 0;
  margin: 0;
}

/* tirando a bolinha dos itens de lista */
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

@-webkit-keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}

@keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}

/* configurando todo o sistema de grid do site */
.estrutura {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "header " "content" "footer";
}

/* Inicio das configuracoes da footer */
.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background: linear-gradient(135deg, tomato, red);
}

.footer p {
  font-size: 1.125em;
  color: #000;
  text-align: center;
  padding: 30px;
}

.footer:hover {
  background-color: transparent !important;
  -webkit-transition: opacity 5s !important;
  transition: opacity 5s !important;
}

/* fim das configuracoes da footer */
/*configuracoes do menu */
.header {
  font-family: 'Merienda', cursive !important;
  z-index: 9999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  /* craiando um gradiente no menu */
  background: #f5f5f5;
  padding: 5px;
  height: 12vh;
  /* criando o Grid interno do menu */
  display: -ms-grid;
  display: grid;
  /* definindo a quantidade de colunas do meu menu e tamanho */
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*  fim do Grid interno do menu */
}

.header li {
  list-style: none;
}

.header .logo {
  max-width: 24vh;
  font-weight: 400;
}

.header nav {
  /* so ira adicionar a margin quando tiver um li apos o outro */
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header nav a {
  display: block;
  padding: 10px;
  color: #181414;
  font-size: 1.125em;
  background: none;
  border-radius: 5px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.header nav a:hover {
  background: #ffff8c;
  color: red;
}

.header nav li + li {
  margin-left: 30px;
}

.header nav li:last-child {
  display: none;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

/* configurando o menu de mobile */
.side-menu-wrapper {
  /* style menu wrapper */
  background: rgba(116, 24, 221, 0.942);
  padding: 40px 0 0 40px;
  position: fixed;
  /* Fixed position */
  top: 0;
  right: 0;
  /* Sidebar initial position. "right" for right positioned menu */
  height: 100%;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* CSS transition speed */
  width: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.side-menu-wrapper > ul {
  /* css ul list style */
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  /* enable scroll for menu items */
  height: 95%;
}

.side-menu-wrapper > ul > li > a {
  /* links */
  display: block;
  border-bottom: 1px solid white;
  padding: 6px 4px 6px 4px;
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.side-menu-wrapper > a.menu-close {
  /* close button */
  padding: 8px 0 4px 23px;
  color: black;
  display: block;
  margin: -30px 0 -10px -20px;
  font-size: 35px;
  text-decoration: none;
}

.menu-overlay {
  /* overlay */
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.hamburger {
  width: 25px;
  height: 25px;
  position: relative;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.hamburger::after {
  content: "";
  width: 70%;
  height: 3px;
  background-color: aliceblue;
  border-radius: 20px;
  position: absolute;
  top: 25%;
  left: 15%;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.hamburger::before {
  content: "";
  width: 70%;
  height: 3px;
  border-radius: 20px;
  position: absolute;
  top: 65%;
  left: 15%;
  background-color: aliceblue;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

#hamburger:checked ~ label .hamburger::after, #hamburger1:checked ~ label .hamburger::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 45%;
}

#hamburger:checked ~ label .hamburger::before, #hamburger1:checked ~ label .hamburger::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 45%;
}

#hamburger:checked ~ label .hamburger, #hamburger1:checked ~ label .hamburger {
  top: 45%;
}

.content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "banner"  "sobre" "especialidade";
  /* define que o item no grid vai ser com todas as colunas */
}

#banner {
  font-family: "Merienda", cursive !important;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: banner;
  grid-column: 1 /-1;
  height: 87vh;
  background: url(../img/banner/Banner.jpeg) round;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner div {
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 500px;
  padding: 5%;
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.365);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.735);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.735);
}

#banner div h3 {
  margin-top: 5%;
  font-size: 0.9em;
}

#banner div button {
  color: white;
  padding: 20px;
  margin-top: 5%;
  margin-bottom: none;
  width: 100%;
  height: 10%;
  max-width: 250px;
  font-size: 1.3em;
  background: -webkit-gradient(linear, left top, left bottom, from(#F57E0B), to(#ED3634));
  background: linear-gradient(180deg, #F57E0B, #ED3634);
  border-radius: 5px;
  border: none;
}

#banner div button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#F57E0B), to(#ED3634));
  background: linear-gradient(0deg, #F57E0B, #ED3634);
  color: white;
}

#banner div button:focus {
  outline: none;
}

#sobre {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 87vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "texto figurinha";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sobre .sobre-figurinha {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: figurinha;
}

#sobre .sobre-figurinha div.lazy-img img {
  max-height: 85vh;
}

#sobre .sobre-texto {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: texto;
  text-align: center;
  padding-left: 10%;
}

#sobre .sobre-texto button {
  color: white;
  padding: 20px;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 100%;
  height: 10%;
  max-width: 250px;
  font-size: 1.3em;
  background: -webkit-gradient(linear, left top, left bottom, from(#F57E0B), to(#ED3634));
  background: linear-gradient(180deg, #F57E0B, #ED3634);
  border-radius: 5px;
  border: none;
}

#sobre .sobre-texto button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#F57E0B), to(#ED3634));
  background: linear-gradient(0deg, #F57E0B, #ED3634);
  color: white;
}

#sobre .sobre-texto button:focus {
  outline: none;
}

#sobre .sobre-texto span {
  color: red;
  font-size: 1.2em;
}

.lazy-img img {
  opacity: 0;
}

.lazy-img img.loaded {
  opacity: 1;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

#especialidade {
  background-color: black;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 85vh 85vh;
      grid-template-rows: 85vh 85vh;
      grid-template-areas: "video menus" "menus2 secao4";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#especialidade li {
  list-style: none;
}

#especialidade .video {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: video;
}

#especialidade .video video {
  max-height: 84vh;
}

#especialidade .video video p {
  color: red;
  font-size: 1.5em;
}

#especialidade .menu {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: menus;
  padding-right: 10%;
  width: 70%;
  font-family: "Merienda", cursive !important;
  text-align: center;
  color: white;
}

#especialidade .menu h2 {
  padding-bottom: 5%;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
}

#especialidade .menu span {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 15%;
}

#especialidade .menu span ul li {
  list-style-type: white square;
}

#especialidade .menu span ul + ul {
  margin-left: 103%;
}

#especialidade .secao4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: secao4;
  min-height: 87vh;
}

#especialidade .secao4 img {
  margin-top: 20%;
  height: 60vh;
}

#especialidade .menu2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: menus2;
  padding-left: 10%;
  width: 70%;
  font-family: "Merienda", cursive !important;
  text-align: center;
  color: white;
}

#especialidade .menu2 h2 {
  padding-bottom: 5%;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
}

#especialidade .menu2 span {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 15%;
}

#especialidade .menu2 span ul li {
  list-style-type: white square;
}

#especialidade .menu2 span ul + ul {
  margin-left: 103%;
}

@media (max-width: 1200px) {
  /* mudando o layout do conteudo para ficar responsivo */
  /*     .estrutura{
        grid-template-areas: 
            "header header header"
            "content content content"
            "footer footer footer"
        ;
    }; */
}

@media (max-width: 760px) {
  /* mudando o layout do conteudo para ficar responsivo */
  /*  .estrutura{
        grid-template-areas:
            "header header header"
            "content content content"
            "footer footer footer"
            ;
    } */
  /* mudando o layout do Header para ficar responsivo */
  /*     .header{
        grid-template-columns: 3fr 1fr;
        align-items: center;
        nav{
            a{
                font-size: 1.2em;
            }
            li:nth-child(1){
                display: none;
            }
            li:nth-child(2){
                display: none;
            }
            li:nth-child(3){
                display: none;
            }
            li:last-child{
                display: block;
                transition: all 1s linear;
            }
            
        }
    }; */
}

@media (max-width: 600px) {
  /*    .content{
        grid-template-columns: auto;
        justify-items: center;
        img{
            width: 100%;
        }
    }
    .header{
        grid-template-columns: 2fr 1fr;
        justify-items: center;
        gap: 0px;
        img{
            width: 250px;
        }
        nav{
            li:nth-child(1){
                display: none;
            }
            li:nth-child(2){
                display: none;
            }
            li:nth-child(3){
                display: none;
            }
        }

    } */
}

/* @extend usando quando nao a variacaoes no css para nao gerar codigo repetitivo*/
/* @mixin seria uma funcao para css, onde eu posso passar parametros no seu uso */
/*# sourceMappingURL=style.css.map */